//STYLES FOR MAIN PAGE AFTER USER HAS SUBMITTED LOCATION

.mainPage {
   // height: 100vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   background: $textcolor;
   overflow: hidden;
   

   h2 {
      margin-top: 50px;
      color: $backgroundcolor;
   }
}

//styles for the popup window
.about {
   margin: 25px;
   bottom: 10px;
   &Content{
      display: none;
   }
}

//style that defaults query content to hide
.returnedContent {
   display: none;
}

//style added by jQuery to display the query content
.returnedContentShow {
   display: block;
}


//styles for the DIVS that hold both currentWeather and weatherForecast
.weather, .longWeather {
   text-align: center;
   
   p {
      border-bottom: 1px solid rgba(121, 121, 121, 0.372);
      margin: 20px;
      padding-bottom: 5px;
     
   }
}

.blurb {
   margin: 20px 0;
   text-align: center;
   p {
      margin: 20px 10px;
      padding: 0;
      // text-align: left;
   }
   em {
      color: tomato; //lololololololo
   }
}
.container{
   display: flex;
   flex-direction: column;
   background: $offwhite;
   border-radius: 5px;
   padding: 10px;
   margin-bottom: 25px;
}

.container::after {
   content: "";
   position: relative;
   top: 25px;
   display: block;
   width: 150%;
   left: -2px;
   height: 80%;
   transform: rotate(-4deg);
   background: $textcolor;
   z-index: 1;
}

//sets weatherForecast as hidden until requested
.longWeather {
   display: none;
}

//styles used to toggle the weatherForecast and currentWeather
.open {
   display: block;
}

.close {
   display: none;
}


//NEW SWITCH
.switch{
   align-self: center;
   margin: 0 40px;
   width: 100%;
   height: 40px;
   position: relative;
   margin-bottom: 40px;
   &::before {
      content: "short Run";
      position: absolute;
      z-index: 10;
      top: 0;
      left: 10%;
      width: 100px;
      text-transform: capitalize;
      cursor: pointer;
      pointer-events: none;
   }
   &::after {
      content: "long run";
      position: absolute;
      top: 0px;
      right: 10%;
      width: 100px;
      text-transform: capitalize;
      cursor: pointer;
      pointer-events: none;
   
   }
   input { 
      opacity: 1;
      width: 100%;
      height: 40px;
      cursor: pointer;
   }
}

.slider {
   pointer-events: none;
   position: absolute;
   cursor: pointer;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0px;
   background-color: $offwhite;
   transition: .4s;
   padding-top: 20px;

   &:before {
      position: absolute;
      content: "";
      height: 50px;
      width: 50px;
      bottom: 0px;
      left: 0px;
      right: 0px;
      background-color: $textcolor;
      box-shadow: 0px 0px 2px rgb(97, 97, 97);
      transition: .4s;
      z-index:1;
   }
   &:after {
      position: absolute;
      content: "";
      height: 3px;
      width: 98%;
      bottom: 0px;
      left: 0px;
      right: 0px;
      background-color: rgba(152, 152, 152, 0.365);
      border: 0.5px solid rgba(0, 0, 0, 0.043);
      transition: .4s;
      border-radius: 5px;
   }

}

input:checked + .slider:before {
  transform: translateX(100%);
}
// /* Rounded sliders */
.slider.round {
//   border-radius: 34px;
}
.slider.round:before {
//   border-radius: 20%;
  height: 4px;
  width: 50%;
}

footer {
   width: 100%;
   height: 20px;
   text-align: center;
   background: $textcolor;
   color: $backgroundcolor;
   padding: 0;
   margin: 0;
   z-index: 2;
   display: none;
   p {
      margin: 0;
      padding: 5px;
      font-size: 1.5rem;
   }
}




