//GENERAL MAIN PAGE STYLES
.mainPage {
   background: $textcolor;
   overflow: hidden;
   
   h2 {
      margin-top: 30px;
      color: $backgroundcolor;
   }
}


//MAIN CONTAINER STYLES
.container{
   display: flex;
   flex-direction: column;
   background: $offwhite;
   border-radius: 5px;
   padding: 10px;
   margin-bottom: 25px;
}

.weather, .longWeather {
   text-align: center;
   
   p {
      border-bottom: 1px solid rgba(121, 121, 121, 0.372);
      margin: 20px;
      padding-bottom: 5px;
     
   }
}

.blurb {
   margin: 20px 0;
   text-align: center;
   p {
      margin: 20px 10px;
      padding: 0;
   }
   em {
      color: tomato; 
   }
}
//MAIN CONTAINER STYLES END

//SHORT LONG RUN SWITCH STYLES 
.switch{
   align-self: center;
   margin: 0 40px;
   width: 100%;
   height: 40px;
   position: relative;
   margin-bottom: 40px;
   
   &::before, &::after {
      content: "short Run";
      position: absolute;
      z-index: 10;
      top: 0;
      width: 120px;
      text-transform:  uppercase;
      cursor: pointer;
      pointer-events: none;
   }

   &::before  {
      content: "short Run"; 
      left: 10%;
   }
   
   &::after {
      content: "long run";
      right: 6%;
   }
   input { 
      opacity: 1;
      width: 100%;
      height: 40px;
      cursor: pointer;
   }
}

.slider {
   pointer-events: none;
   position: absolute;
   cursor: pointer;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0px;
   background-color: $offwhite;
   transition: .4s;
   padding-top: 20px;

   &:before {
      position: absolute;
      content: "";
      height: 50px;
      width: 50px;
      bottom: 0px;
      left: 0px;
      right: 0px;
      background-color: $accentcolor;
      box-shadow: 0px 0px 2px rgb(97, 97, 97);
      transition: .4s;
      z-index:1;
   }
   &:after {
      position: absolute;
      content: "";
      height: 3px;
      width: 98%;
      bottom: 0px;
      left: 0px;
      right: 0px;
      background-color: rgba(152, 152, 152, 0.365);
      border: 0.5px solid rgba(0, 0, 0, 0.043);
      transition: .4s;
      border-radius: 5px;
   }
}
input:checked + .slider:before {
  transform: translateX(100%);
}
.slider.round:before {
  height: 4px;
  width: 50%;
}
//SHORT RUN LONG RUN SWITCH STYLE END

//FOOTER STYLES
footer {
   width: 100%;
   height: 20px;
   text-align: center;
   background: $textcolor;
   color: $backgroundcolor;
   padding: 0;
   margin: 0;
   z-index: 2;
   display: none;
   p {
      margin: 0;
      padding: 5px;
      font-size: 1.5rem;
   }
}
//FOOTER STYLES END


//TOGGLE CLASS STYLES START
//sets returnedContent as hidden / show
.returnedContent {
   display: none;
}
.returnedContentShow {
   display: block;
}

//sets weatherForecast as hidden until requested
.longWeather {
   display: none;
}

//styles used to toggle the weatherForecast and currentWeather
.open {
   display: block;
}
.close {
   display: none;
}
//TOGGLE CLASS STYLES END



