//STYLES FOR MAIN PAGE AFTER USER HAS SUBMITTED LOCATION

.mainPage {
   display: flex;
   flex-direction: column;
   align-items: center;
}

header {
      text-align: center;

   h1 {
      // text-transform: uppercase;
      letter-spacing: 1.5px;
      font-weight: 700;
      text-shadow: -0.5px 0.5px $accentcolor, -1px 1px $accentcolor, -1.5px 1.5px $accentcolor, -2px 2px $accentcolor, -2.5px 2.5px $accentcolor, -3px 3px $accentcolor, -3.5px 3.5px $accentcolor, -4px 4px $accentcolor, -4.5px 4.5px $accentcolor;
   }
}

header::before{
  content: '';
  width: 200px;
  height: 200px;
  color: black;
}

.about {
   margin: 25px;
   position: absolute;
   bottom: 10px;
   &Content{
      display: none;
   }
}

//style that defaults query content to hide
.returnedContent {
   display: none;
}

//style added by jQuery to display the query content
.returnedContentShow {
   display: block;
}

form{
    margin-top: 80px;;
}

//styles for the DIVS that hold both currentWeather and weatherForecast
.weather, .longWeather, .blurb, .strava {
   background: $backgroundcolor;
   border: 5px solid $accentcolor;
   border-radius: 5px;
   padding: 20px;
}
.container{
    display: flex;
    flex-direction: column;
}

//sets weatherForecast as hidden until requested
.longWeather {
   display: none;
}

//styles used to toggle the weatherForecast and currentWeather
.open {
   display: block;
}

.close {
   display: none;
}



// ------------
// checkbox button

.switch{
    width: 60px;
    height: 34px;
    position: relative;
}

.switch input { 
  opacity: 0;
  width: 50px;
  height: 40px;
}

.slider {
  pointer-events: none;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #e69575;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  bottom: 0px;
  background-color: #e69575;
  box-shadow: 0px 0px 2px black;
  transition: .4s;
}

input:checked + .slider {
  background-color: #dae5ee;
  box-shadow: 0px 0px 5px black;
}

input:focus + .slider {
  box-shadow: 0px 0px 1px #dae5ee;
}

input:checked + .slider:before {
  transform: translateX(35px);
}

// /* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

// -----------------------------------------------

// .switch input { 
//   opacity: 1;
//   width: 100px;
//   height: 40px;
// }

// label {
// 	cursor: pointer;
// 	text-indent: -9px;
// 	width: 90px;
// 	height: 35px;
// 	background: grey;
// 	display: block;
// 	border-radius: 100px;
// 	position: relative;
// }

// label:after {
// 	content: '';
// 	position: absolute;
// 	top: 5px;
// 	left: 5px;
// 	width: 30px;
// 	height: 30px;
// 	background: #fff;
// 	border-radius: 90px;
// 	transition: 0.3s;
// }

// input:checked + label {
// 	background: #bada55;
// }

// input:checked, label:after {
// 	left: 20px;
// 	transform: translateX(100%);
// }

// label:active:after {
// 	width: 80px;
// }



